* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #f7e9dc;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 450px;
}
/* ----------HEADER-----------
------------------------------ */

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ec755d;
    color: white;
    margin-top: 10vh;
    padding: 25px;
    border-radius: 10px;
}
.head > p {
    font-size: 12px;
}
.bal {
    font-size: 21px;
}

/* ----------MAIN-----------
---------------------------- */
main {
    background-color: #fffcf7;
    border-radius: 10px;
    margin-top: 30px;
}

main > p:first-child{
    color: #382314;
    font-size: 22px;
    font-weight: bold;
    padding-top: 24px;
    text-align: left;
    margin-left: 30px;
}
.graph {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    margin-top: 50px;
}

.col > p {
    margin-top: 10px;
    color: #9e9a93;
    font-size: 13px;
    text-align: center;
}

/* ----------CHARTS-----------
------------------------------ */

#mon, #tue, #wed, #thu, #fri, #sat, #sun {
    background-color: #ec755d;
    width: 35px;
    border-radius: 5px;
    margin-top: 5px;
}
#mon {
    padding: 25px 0;
}
.test {
    box-shadow: 2px 5px 6px grey;
    transition-property: all;
    transition-duration: 0.4s;
}
.info {
    display: none;
    padding: 10px 0;
    background-color: #382314;
    color: white;
    border-radius: 5px;
    font-size: 10px;
    text-align: center;
}

#tue {
    padding: 60px 0;
}
#wed {
    background-color: #78b4be;
    padding: 85px 0;
}
#thu {
    padding: 50px 0;
}
#fri {
    padding: 35px 0;
}
#sat {
    padding: 75px 0;
}
#sun {
    padding: 40px 0;
}

hr {
    margin: 20px;
    color: #9e9a93;
}


.summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 20px;
}

.total > p:first-child, .percent > p:last-child {
    color: #9e9a93;
}
.total > p:last-child{
    margin-top: 10px;
    font-size: 30px;
}
.percent > p:first-child, .total > p:last-child {
    color: #382314;
    font-weight: bold;
}

/* ----------FOOTER-----------
------------------------------ */

footer {
    margin-top: 15vh;
}